<div class="fliter-container">
  <mat-chip-listbox aria-label="Fish selection" [(ngModel)]="searchByCategoryText" (ngModelChange)="searchCategory()" >
    <mat-chip-option>Cupcakes</mat-chip-option>
    <mat-chip-option  color="warn">Brownies</mat-chip-option>
    <mat-chip-option color="accent">Cookies</mat-chip-option>
    <mat-chip-option>Cake</mat-chip-option>
    <mat-chip-option color="warn">Cheesecake</mat-chip-option>
    <mat-chip-option color="accent">Chocolate</mat-chip-option>
    <mat-chip-option>Muffin</mat-chip-option>
  </mat-chip-listbox>
</div>
